<!-- loading -->
<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="modal-header modal-primary">
  <h4 class="modal-title" [innerHTML]=title></h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form class="form-horizontal" novalidate [formGroup]="storagesForm">
    <div class="form-group row">
      <label class="col-md-2 lbl-custome">
        {{'storages.code' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <input type="text" class="form-control" formControlName="codeStorage"
          [ngClass]="{ 'is-invalid': submitted && f.codeStorage.errors }" (ngModelChange)="existCode()"
          placeholder="{{'storages.placeholder.code' | translate}}" [readonly]="isReadOnly" trim upper>
        <div *ngIf="submitted && f.codeStorage.errors">
          <span class="msg-invalid" *ngIf="f.codeStorage.errors.required">{{'common.msg.required' | translate}}</span>
          <span class="msg-invalid" *ngIf="f.codeStorage.errors.pattern">{{'storages.pattern' | translate}}</span>
          <span class="msg-invalid" *ngIf="f.codeStorage.errors.maxlength">Độ dài tối đa 50 ký tự</span>
        </div>
        <span class="msg-invalid" *ngIf="isCheckCode">{{'storages.existCode' | translate}}</span>
      </div>
      <label class="col-md-2 lbl-custome">
        {{'storages.name' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <input type="text" class="form-control text-capitalize" formControlName="nameStorage"
          [ngClass]="{ 'is-invalid': submitted && f.nameStorage.errors }"
          placeholder="{{'storages.placeholder.name' | translate}}" trim="blur">
        <div *ngIf="submitted && f.nameStorage.errors">
          <span class="msg-invalid" *ngIf="f.nameStorage.errors.required">{{'common.msg.required' | translate}}</span>
          <span class="msg-invalid" *ngIf="f.nameStorage.errors.maxlength">Độ dài tối đa 200 ký tự</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 lbl-custome">{{'storages.unit' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <select class="form-control" formControlName="branchId"
          [ngClass]="{ 'is-invalid': submitted && f.branchId.errors }"
          tooltip="Chọn chi nhánh" (change)="getStaffByBranch()">
          <option value="">-- Tất cả--</option>
          <option *ngFor="let st of lstBranch;" [ngValue]="st.id">{{st.name}}</option>
        </select>
        <div *ngIf="submitted && f.branchId.errors">
          <span class="msg-invalid" *ngIf="f.branchId.errors.required">{{'common.msg.required' | translate}}</span>
        </div>
      </div>
      <label class="col-md-2 lbl-custome">{{'storages.staffManager' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <select class="form-control" formControlName="staffId"
          [ngClass]="{ 'is-invalid': submitted && f.staffId.errors }"
          tooltip="{{'storages.placeholder.staff' | translate}}">
          <option value="">{{'storages.placeholder.staff' | translate}}</option>
          <option *ngFor="let st of lstStaff;" [ngValue]="st.id">{{st.name}}</option>
        </select>
        <div *ngIf="submitted && f.staffId.errors">
          <span class="msg-invalid" *ngIf="f.staffId.errors.required">{{'common.msg.required' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 lbl-custome">{{'storages.province' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <select class="form-control" (change)="getDistrict()"
          tooltip="{{'storages.placeholder.province' | translate}}" formControlName="provinceCode"
          [ngClass]="{ 'is-invalid': submitted && f.provinceCode.errors }">
          <option value="">{{'storages.placeholder.province' | translate}}</option>
          <option *ngFor="let pro of lstProvince; let i = index;" [ngValue]="pro.provinceCode">{{pro.provinceName}}
          </option>
        </select>
        <div *ngIf="submitted && f.provinceCode.errors">
          <span class="msg-invalid" *ngIf="f.provinceCode.errors.required">{{'common.msg.required' | translate}}</span>
        </div>
      </div>
      <label class="col-md-2 lbl-custome">{{'storages.district' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <select class="form-control" tooltip="{{'storages.placeholder.district' | translate}}"
          (change)="getWard()" formControlName="districtCode"
          [ngClass]="{ 'is-invalid': submitted && f.districtCode.errors }">
          <option value="">{{'storages.placeholder.district' | translate}}</option>
          <option *ngFor="let dist of lstDistrict; let i = index;" [ngValue]="dist.districtCode">
            {{dist.districtName}}</option>
        </select>
        <div *ngIf="submitted && f.districtCode.errors">
          <span class="msg-invalid" *ngIf="f.districtCode.errors.required">{{'common.msg.required' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 lbl-custome">{{'storages.ward' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <select class="form-control" tooltip="{{'storages.placeholder.ward' | translate}}"
          formControlName="wardCode" [ngClass]="{ 'is-invalid': submitted && f.wardCode.errors }">
          <option value="">{{'storages.placeholder.ward' | translate}}</option>
          <option *ngFor="let ward of lstWard; let i = index;" [ngValue]="ward.id">{{ward.wardName}}</option>
        </select>
        <div *ngIf="submitted && f.wardCode.errors">
          <span class="msg-invalid" *ngIf="f.wardCode.errors.required">{{'common.msg.required' | translate}}</span>
        </div>
      </div>
      <label class="col-md-2 lbl-custome">{{'storages.fullAddr' | translate}}
        <sup class="msg-invalid">(*)</sup>
      </label>
      <div class="col-md-4">
        <input type="text" class="form-control" formControlName="addrDetail"
          [ngClass]="{ 'is-invalid': submitted && f.addrDetail.errors }"
          placeholder="{{'storages.placeholder.fullAddr' | translate}}">
        <div *ngIf="submitted && f.addrDetail.errors">
          <span class="msg-invalid" *ngIf="f.addrDetail.errors.required">{{'common.msg.required' | translate}}</span>
          <span class="msg-invalid" *ngIf="f.addrDetail.errors.maxlength">Độ dài tối đa 100 ký tự</span>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info mr-2" (click)="saveOrUpdate()">
    <i class="fa fa-save"></i>
    {{'common.save' | translate}}
  </button>
  <button type="button" class="btn btn-danger" (click)="close()">
    <i class="fa fa-times-circle"></i>
    {{'common.close' | translate}}
  </button>
</div>
